<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div>
    <form method="post" th:action="registration" th:object="${user}">
        <label for="firstName">Введите имя: </label>
        <input type="text" name="firstName" id="firstName" th:field="*{firstName}"/>
        <br/>
        <label for="lastName">Введите фамилию: </label>
        <input type="text"  name="lastName" id="lastName" th:field="*{lastName}"/>
        <br/>
        <label for="email">Введите имейл: </label>
        <input type="text"  name="email" id="email" th:field="*{email}"/>
        <br/>
        <label for="age">Введите возраст: </label>
        <input type="text" name="age" id="age" th:field="*{age}"/>
        <br/>
        <label for="password">Введите пароль: </label>
        <input type="password" name="password" id="password" th:field="*{password}"/>
        <div th:each="role : ${roles}">
            <label>
                <input type="checkbox"  name="usersRoles" th:value="${role.getName()}"/>
                <span th:text="${role.getName()}"></span>
            </label>
        </div>
        <input type="submit" value="Сохранить">
    </form>
</div>
</body>
</html>